@inherits LayoutComponentBase

<PageTitle>Dashboard</PageTitle>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<RadzenLayout>
    <RadzenHeader>
        <div class="row">
            <div class="col-9 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => siderbarExpanded = !siderbarExpanded)" />
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H1"><strong>RT systems</strong></RadzenText>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <RadzenProfileMenu>
                    <Template>
                        <RadzenGravatar Email="user@example.com" />
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Settings" Icon="settings" />
                        <RadzenProfileMenuItem Text="Log Out" Icon="logout" />
                    </ChildContent>
                </RadzenProfileMenu>
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@siderbarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Users" Icon="account_box" Path="Test" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <main>@Body</main>
    </RadzenBody>
    <RadzenFooter>
        <RadzenText TextAlign="TextAlign.Center">Copyright &copy; <strong>@currentYear</strong></RadzenText>
    </RadzenFooter>
</RadzenLayout>

@code {
    string currentYear = DateTime.Now.Year.ToString();
    bool siderbarExpanded = true;
}